@font-face {
    font-family: PoppinsMed;
    src: url(/Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(/Fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(/Fonts/Poppins/Poppins-Light.ttf);
}