* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(65deg, #F64F8B, #F8825B);
    max-height: 1280px;
    direction: ltr;
    overflow-y: hidden;
}

.main-header {
    background-image: linear-gradient(265deg, #33BE6D, #0C98B9);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: PoppinsMed;
    width: 200px;
    color: white;
}


.nav-btn:hover {
    color: #21AC91;
    background-color: white;
}





.main-container {
    display: flex;
}

.image-container {
    background-color: #383B42;
    width: 100%;
    border-radius: 12px;
}

.gallery {

    overflow-x: hidden;

}

img {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -1px rgb(44, 43, 43);
}

.editor-container {
    justify-content: space-evenly;
    display: none;
    width: 100%;
    justify-content: space-between;
}

.editor {
    height: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
