* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(150deg, #F64F8B, #F8825B);
    max-height: 1280px;
    direction: ltr;
    overflow-y: hidden;
}

.main-header {
    background-image: linear-gradient(300deg, #33BE6D, #0C98B9);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: PoppinsMed;
    width: 200px;
    color: white;
}


.nav-btn:hover {
    color: #21AC91;
    background-color: white;
}





.main-container {
    display: flex;
}

.image-container {
    background-color: #383B42;
    width: 100%;
    border-radius: 12px;
}

.gallery {

    overflow-x: hidden;

}

.gallery::-webkit-scrollbar-track {
    background: #22252C;
    margin-bottom: 6px;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar {
    width: 13px;
}

.gallery::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 10px;
    background-image: linear-gradient(270deg, #33BE6D, #0C98B9);
}

img {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -1px rgb(44, 43, 43);
}

.canvas-container {
    background-color: rgb(235, 238, 243, .1);
    border-radius: 34px;
    box-shadow:
        inset 0px 5px rgb(235, 238, 243, .03),
        0px 5px rgb(235, 238, 243, .05);

}

.editor-container {
    display: none;
    width: 100%;
}

.editor {
    display: flex;

    align-items: center;
    background-color: rgb(235, 238, 243, .1);
    border-radius: 34px;
    box-shadow:
        inset 0px 5px rgb(235, 238, 243, .03),
        0px 5px rgb(235, 238, 243, .05);
}

.meme-text-input {
    width: 100%;
    caret-color: transparent;
    font-size: 25px;
    color: #3D3D3D;
    font-family: PoppinsMed;
    text-align: center;
    height: 56px;
    border: none;
    border-radius: 50px;
    background-color: #EBEEF3;
    box-shadow:
        inset 0px 5px rgb(255, 255, 255),
        0px 5px rgb(184, 200, 206);
}

.meme-text-input:focus {
    outline: none;
}

.add-remove-raise-lower {
    width: 300px;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    height: 58px;
}

.line-add {
    width: 57px;
    height: 52px;
    background-image: linear-gradient(320deg, #38B64B, #42EB5C);
    border-radius: 10px;
    font-size: 50px;
    border: none;
    color: white;
    padding-left: 6px;
    box-shadow:
        inset 0px 5px rgb(200, 230, 172),
        0px 5px rgb(47, 100, 31);
    cursor: pointer;
    padding-top: 7px;
    line-height: 1px;
}

.line-remove {
    width: 57px;
    height: 52px;
    background-image: linear-gradient(320deg, #CF1D37, #F05036);
    border-radius: 10px;
    font-size: 50px;
    border: none;
    color: white;
    line-height: 1px;
    padding-left: 9px;
    padding-top: 9px;
    box-shadow:
        inset 0px 5px rgb(224, 185, 184),
        0px 5px rgb(141, 32, 48);
    cursor: pointer;

}

.arrow-up {
    width: 57px;
    height: 52px;
    background-image: linear-gradient(320deg, #119ABD, #63C3DB);
    border-radius: 10px;
    font-size: 40px;
    border: none;
    color: white;
    line-height: 1px;
    padding-bottom: 7px;
    box-shadow:
        inset 0px 6px rgb(184, 213, 224),
        0px 6px rgb(76, 131, 148);
    cursor: pointer;

}

.arrow-down {
    width: 57px;
    height: 52px;
    background-image: linear-gradient(320deg, #119ABD, #63C3DB);
    border-radius: 10px;
    font-size: 40px;
    border: none;
    color: white;
    line-height: 1px;
    padding-bottom: 7px;
    box-shadow:
        inset 0px 6px rgb(184, 213, 224),
        0px 6px rgb(76, 131, 148);
    cursor: pointer;

}

.size-align-font-color-switch {
    background-color: #19A59F;
    border-radius: 21px;
}

.editor-props {
    display: flex;
    justify-content: space-evenly;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    height: 71px;
    margin-top: 10px;
}

.top-row {
    height: 61px;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

.btn-editor {
    font-family: PoppinsSemiBold;
    cursor: pointer;
    color: #22252C;
    width: 54.5px;
    height: 50px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px rgb(59, 117, 121);
    text-shadow: 1px 0 #22252C;
    letter-spacing: 1px;
    font-weight: bold;
}

.up-down-btns {
    width: 162px;
    display: flex;
    justify-content: space-between;
}

.text-align {
    width: 248px;
    display: flex;
    justify-content: space-between;
}

.size-bigger {
    padding-left: 10px;
    font-size: 29px;
    margin-left: 18px;
    width: 54px;
}

.size-smaller {
    padding-left: 13px;
    letter-spacing: 5px;
    font-size: 29px;
    width: 55px;
}

.align-left {
    padding-left: 10px;
}

.align-right {
    padding-right: 8px;
    margin-right: 16px;
}

.font-change {
    margin-left: 18px;
    width: 235px;
    height: 50px;
    font-family: PoppinsSemiBold;
    font-size: 25px;
    padding-left: 32px;
    cursor: pointer;
    color: #22252C;
    text-shadow: 1px 0 #22252C;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px rgb(59, 117, 121);
}

.txt-color {
    background-color: rgb(255, 255, 255, 0);
    box-shadow: none;
    margin-right: 16px;
}

.btn-switch {
    font-size: 13px;
    padding-left: 4px;
}

.download-btn {
    width: 212px;
    height: 50px;
    background-color: #8F44BB;
    border: none;
    font-family: PoppinsMed;
    font-size: 21px;
    border-radius: 15px;
    box-shadow:
        inset 0px 6px #FFFFFF,
        0px 6px rgb(97, 46, 131);
}

.download-link {
    color: white;
    text-decoration: none;
    width: 141px;
}

.download-link span {
    margin-right: 14px;
    font-size: 30px;
    padding-top: 10px;
}