* {
    box-sizing: border-box;
}

body {
    background-color: rgba(156, 156, 204, 0.842);
    margin: 0 auto;
}

.main-layout{
    margin-top: 150px;
}

.text {
    width: 200px;
    text-align: center;
}

.text-top {
    position: absolute;
    top: 100px;
    left: 350px;
}

.text-bottom {
    position: absolute;
    bottom:  230px;
    left: 350px;
    display: none;
}


.gallery{
    background-color: aqua;
    order: 1;
    width: 50%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    grid-auto-rows: 150px;
}

img {
    height: 150px;
    width: 150px;
}

.editor-section {
    background-color: blueviolet;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.editor {
    margin-left: 10px;
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#my-canvas {
    background-color: white;
    padding: 0;
    margin: auto;
    display: block;
    border: 3px solid black;
}

.main-layout {
    display: flex;
}